---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: sort=interestingness-desc&text=13371717171717171634517293&page=1&per_page=1&media=photos&content_type=1&extras=url_l&method=flickr.photos.search&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="4ac7f2e23e79a5a10962262187632ae5",
        oauth_nonce="MXE%2B2MeF%2FktivxC91PqLVlbPAhWZaEVEcgUHnZfBI5o%3D", oauth_signature="ddf1383b8044b8cb%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1483301116", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":0,"perpage":1,"total":"0","photo":[]},"stat":"ok"}'
  recorded_at: Sun, 01 Jan 2017 20:05:17 GMT
recorded_with: VCR 3.0.3
