---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: sort=interestingness-desc&text=this&page=1&per_page=1&media=photos&content_type=1&extras=url_l&method=flickr.photos.search&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="API_KEY",
        oauth_nonce="eiMFnm5ugD1M4VFvOG0lU7ry7XlVuYVpK%2BNVm14E%2Fsk%3D", oauth_signature="API_SECRET%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1483377095", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":7100133,"perpage":1,"total":"7100133","photo":[{"id":"8199827344","owner":"35847517@N05","secret":"8c8c247635","server":"8486","farm":9,"title":"this
        morning","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/farm9.staticflickr.com\/8486\/8199827344_8c8c247635_b.jpg","height_l":"819","width_l":"1024"}]},"stat":"ok"}'
  recorded_at: Mon, 02 Jan 2017 17:11:37 GMT
[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: sort=interestingness-desc&text=returned&page=1&per_page=1&media=photos&content_type=1&extras=url_l&method=flickr.photos.search&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="API_KEY",
        oauth_nonce="gsRHAk3nCjlrWwqIfERbXAu7IgxQJAD3DbRO0swTkE0%3D", oauth_signature="API_SECRET%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1483377132", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":2181721,"perpage":1,"total":"2181721","photo":[{"id":"15611954507","owner":"118403141@N02","secret":"0a3b04a954","server":"8535","farm":9,"title":"Return
        to me...","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/farm9.staticflickr.com\/8535\/15611954507_0a3b04a954_b.jpg","height_l":"768","width_l":"1024"}]},"stat":"ok"}'
  recorded_at: Mon, 02 Jan 2017 17:12:14 GMT
recorded_with: VCR 3.0.3
